.Container {
  position: absolute;
  border: 4px solid rgba(111, 0, 255, 0.561);
  border-radius: 50px;
  height: calc(100vh - 60vh);
  width: calc(100vw - 50vw);
  top: 25%;
  left: 40%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(236, 231, 238);
  z-index: 5;
}

.ContainerTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ContSub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Subcontainer {
  display: flex;
  gap: 50px;
}
.input {
  border-radius: 10px;
  padding: 1rem;
  width: calc(100vw - 55vw);
  border: none;
  transition: border 0.3s ease, transform 0.3s ease; /* Apply transition to border and transform */
}

.input:focus {
  outline: 3px solid orange;
  transition: border 0.3s ease, transform 0.3s ease; /* Apply transition to border and transform */
}

.button {
  border-radius: 10px;
  padding: 1rem;
  border: none;
  outline: 2px solid greenyellow;
  width: 10rem;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: antiquewhite;
  outline: 2px solid rgb(255, 255, 255);
}

.IsActive {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.2s ease-in-out; /* Smooth transition for the transform property */
}

.IsInActive {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease-in-out; /* Smooth transition for the transform property */
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.eyes {
  cursor: pointer;
  font-size: large;
}

.profilePicInput {
  border-radius: 10px;
  padding: 1rem;
  border: none;
  transition: border 0.3s ease, transform 0.3s ease; /* Apply transition to border and transform */
}

.ContainerVisibility {
  position: absolute;
  border: 4px solid rgba(111, 0, 255, 0.561);
  border-radius: 50px;
  height: calc(100vh - 80vh);
  width: calc(100vw - 60vw);
  top: 35%;
  left: 45%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  gap: 10px;
  background-color: rgb(236, 231, 238);
}

.errorMessage {
  color: rgb(255, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: large;
  text-transform: uppercase;
  margin-top: 20px;
}

.Spinner {
  position: absolute;
  border-radius: 50px;
  height: 100vh;
  width: 100vw;
  top: 0%;
  left: 0%;
  right: 0;
  background-color: rgb(255, 255, 255);
}

.ContainerBio {
  position: absolute;
  border: 4px solid rgba(111, 0, 255, 0.561);
  border-radius: 50px;
  height: calc(100vh - 50vh);
  width: calc(100vw - 50vw);
  top: 25%;
  left: 40%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(236, 231, 238);
  z-index: 5;
  padding: 30px;
}

.bioContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}

.bioButtons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.buttons {
  background-color: blueviolet;
  padding: 15px;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.buttons:hover {
  background-color: rgb(157, 89, 221);
}

.backDrop {
  position: absolute;
  background-color: rgb(225, 225, 225, 0.7);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.createPostDiv {
  background-color: rgb(242, 237, 237);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.ContainerCreatePost {
  position: absolute;
  border: 4px solid rgba(111, 0, 255, 0.561);
  border-radius: 50px;

  min-height: calc(100vh - 70vh); /* Ensures a minimum height */
  min-width: calc(100vw - 70vw); /* Ensures a minimum width */

  top: 15%;
  left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  gap: 10px;
  background-color: rgb(236, 231, 238);
}

.postNav {
  display: flex;
  flex-direction: row;
  gap: 50px;
  height: 10%;
  margin-top: 10px;
}

.postNav button {
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgb(63, 63, 63);
  cursor: pointer;
}

.postNav button:hover {
  border-bottom: 2px dotted rgb(63, 63, 63);
}

.actualPosts {
  min-width: calc(100vw - 60vw);
  min-height: calc(100vh - 60vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.UIbutton {
  font-size: 6rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(105, 38, 230);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.FinishedButton {
  font-size: 3rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(105, 38, 230);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.UIbutton:hover {
  color: rgb(112, 106, 106);
  transition: all;
}

.Recording button {
  font-size: 6rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(105, 38, 230);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Recording button:hover {
  color: rgb(112, 106, 106);
  transition: all;
}

.CaptionButtons button {
  font-size: 6rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid rgb(105, 38, 230);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CaptionButtons button:hover {
  color: rgb(112, 106, 106);
  transition: all;
}

.actualPosts span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-weight: bold;
  cursor: pointer;
}

.actualPosts span input {
  background-color: rgb(162, 88, 232);
  color: white;
  border: none;
}

.Recording {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.showFiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgb(162, 88, 232);
  border-left: 2px solid rgb(162, 88, 232);
  min-width: 700px;
  min-height: 700px;
}

.showFiles img {
  height: 500px;
  width: 500px;
  border-radius: 50px;
}

.showFiles label {
  border-bottom: 2px dotted black;
  margin-bottom: 20px;
}

.showFiles div img {
  border-radius: 10px;
  padding: 4px;
}

.videoAndImagesDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CaptionButtons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.CaptionButtons button {
  font-size: 3rem;
}

.videoCaptionDiv {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid green;
}

.videoCaptionDiv button {
  font-size: 4rem;
  margin-bottom: 10px;
}

.videoAndImagesDiv label {
  font-size: small;
}

.audioDivAudioUI {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  height: 100px;
}

.finishedRecording {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.audioUI {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

.audioAnimationDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: stretch 1s infinite;
}

.post {
  display: flex;
  gap: 10px;
  font-size: 1rem;
  scale: 0.6;
}

.audioAnimationBar {
  background-color: rgb(108, 23, 234);
  height: 30px;
  width: 10px;
}

.paused {
  animation-play-state: paused;
}

.postButton {
  width: 30%;
  font-size: large;
  background-color: rgb(129, 21, 231);
  color: white;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border: none;
}

.postbuttonDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}
.postButton:hover {
  background-color: rgb(167, 108, 223);
}

.AudioDivUI {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.loaderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.BubblesDiv {
  display: flex;
  gap: 10px;
}

.Bubbles {
  color: black;
  background-color: rgb(92, 18, 240);
  padding: 4px;
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 4px;
}

.Bubbles button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.Bubbles button:hover {
  background-color: rgb(146, 144, 151);
}

.imageGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageGrid button {
  border: none;
  background-color: rgb(144, 36, 245);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 2px;
  cursor: pointer;
}

.imageGrid button:hover {
  background-color: rgb(199, 154, 240);
}

.imagesGrid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
}

.imageGrid video {
  width: 300px;
  border: none;
  border-radius: 10px;
}

.remainingFiles {
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: rgba(175, 180, 180, 0.486);
  width: 50%;
  height: 65%;
  margin-left: 47%;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 50px;
}

.showAllFiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100vw;
  height: 100vh;
}

.showAllFilesItems {
  background-color: rgb(230, 237, 237);
  width: 80%;
  height: 80%;
  z-index: 3;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 4px;
  border: 2px solid purple;
}

.showAllFilesItems img {
  width: 500px;
}

.showAllFilesItems video {
  width: 400px;
}

.BackButton button {
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.BackButton button:hover {
  background-color: rgb(167, 101, 227);
}

@keyframes stretch {
  0%,
  100% {
    transform: scaleY(1); /* Bar is at normal height */
  }
  50% {
    transform: scaleY(3); /* Bar stretches */
  }
}

/* Adding animation delay for each bar */
.bar0 {
  animation-delay: 0s;
}

.bar1 {
  animation-delay: 0.1s; /* Start after the first bar */
}

.bar2 {
  animation-delay: 0.2s; /* Start after the second bar */
}

.bar3 {
  animation-delay: 0.3s; /* Start after the third bar */
}

.bar4 {
  animation-delay: 0.4s; /* Start after the fourth bar */
}

.bar5 {
  animation-delay: 0.5s;
}

.bar6 {
  animation-delay: 0.6s;
}

.bar7 {
  animation-delay: 0.7s;
}

.bar8 {
  animation-delay: 0.8s;
}
