.LogInPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(
    100vh - 30px
  ); /* Subtract the height of the browser's address bar or toolbar */
}

.ContainerSubPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: rgb(66, 211, 66);
  height: 80vh;
  width: 30vw;
  padding: 50px;
  border-radius: 10px;
  border: 2px solid green;
}

.fromButton {
  display: flex;
  justify-content: center;
  gap: 20px;
}

p {
  color: white;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
}

.button {
  border-radius: 10px;
  padding: 1rem;
  border: none;
  outline: 2px solid greenyellow;
  width: 10rem;
  font-size: 1rem;
}

.button:hover {
  background-color: antiquewhite;
  outline: 2px solid rgb(255, 255, 255);
}

.input {
  border-radius: 10px;
  padding: 1rem;
  border: none;
}

.input:focus {
  outline: 3px solid orange;
  transition: border 0.3s ease, transform 0.3s ease; /* Apply transition to border and transform */
}

.indivualsDiv {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

span {
  color: rgb(103, 103, 104);
}

.active {
  transform: scale(1);
  transition: transform 0.3s ease-in-out; /* Smooth transition for the transform property */
}

.inActive {
  transform: scale(0);
  transition: transform 0.3s ease-in-out; /* Smooth transition for the transform property */
}

.errorMessage {
  color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: large;
}
