.LogInPageContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh; /* Subtract the height of the browser's address bar or toolbar */
  background-color: rgb(109, 32, 243);
}

.logoName {
  position: absolute;
  top: 0;
  right: 0%;
  left: 0;
  color: white;
  background-color: rgb(103, 29, 231);
  width: 100%;
  text-align: end;
}

.logoName h1 {
  margin-right: 50px;
  font-size: 3rem;
}

.logoImageAndName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoImageAndName img {
  border-radius: 50%;
  animation: Logo 2s ease-in-out;
}

.ContainerSubPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  height: 40vh;
  width: 30vw;
  padding: 50px;
  border-radius: 10px;
}

.fromButton {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 30vw;
}

p {
  color: white;
  text-align: center;
}

.button {
  border-radius: 10px;
  padding: 1rem;
  border: none;
  width: 10rem;
  font-size: 1rem;
  color: white;
  background-color: rgb(153, 52, 241);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(161, 81, 203);
}

input {
  border-radius: 10px;
  padding: 1rem;
  border: none;
}

input:focus {
  outline: 3px solid orange;
  transition: border 0.3s ease, transform 0.3s ease; /* Apply transition to border and transform */
}

.active {
  transform: scale(1);
  transition: transform 0.3s ease-in-out; /* Smooth transition for the transform property */
}

.inActive {
  transform: scale(0);
  transition: transform 0.3s ease-in-out; /* Smooth transition for the transform property */
}

.errorMessage {
  color: rgb(255, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: bold;
  text-align: center;
  font-size: large;
  margin-bottom: 5%;
  text-transform: uppercase;
}

@keyframes Logo {
  0% {
    opacity: 0;
    transform: translateX(-500px) rotate(-90deg);
  }
  50% {
    opacity: 0.5;
    transform: translateX(0px) rotate(0deg);
  }
}
