.avatar {
  border-radius: 50%;
  border: 2px solid rgb(21, 187, 21);
  padding: 2px;
  object-fit: cover;
}

.avatar:hover {
  border: 2px dotted rgb(21, 187, 21);
  transition: all;
  cursor: pointer;
}
